/* -----Corpo do HTML---- */
html{
    scroll-behavior:smooth;
}

body{
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;  
}

/* -----Container----- */
.container{
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

/* -----Main------- */
.principal h1{
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

/* -----Article------- */
.pelho h2{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

#familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
}

figure{
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption{
    font-style: italic;
    margin-top: 10px;
}

p{
    padding: 0 45px;
    text-indent: 15px;
    text-align: justify;
}

p::first-letter{
    font-weight: bold;
}

h1 + p{
    text-indent: 0;
}


/* ---------Section-------- */
.lista-diferenciais ul{
    padding: 5px 0px;
}

.lista-diferenciais li{
    padding: 0px 3px 0px 45px;
}

/* Precisa arrumar o footer */
/* -------Footer--------- */
footer{
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 20px 0;
}

footer .container{
    position: relative;
}

.social{
    /* posição das imagens*/
    position: absolute;
    top: 12px;
    right: 0;
}

.social a{
    /* tamanho da imagem */
    height: 32px;
    width: 32px;

    /* image replacement */
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"]{
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"]{
    background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"]{
    background-image: url(../img/googleplus.png);
}

.social li{
    float: left;
    margin-left: 25px;
}

/* Videos */
.video h2{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

.video-central{
    text-align: center;
}
.video-central iframe{
    padding: 10px 0 10px;
}

/* Mapas */
.mapas h2{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

.mapas-central{
    text-align: center;    
}

.mapas-central iframe{
    padding: 10px 0 10px;
    width: 800px; 
    height: 450px; 
    border: 0;
}

/* Precisa corrigir o layout mobile */
/* ----Mobile-Responsive---- */

/* Resolução de 320px */
@media(max-width: 320px){
    .container{
        width: 290px;
        padding: 5px 0px 5px 0px;
        margin: 0 auto;
    }

    header{
        text-align: center;
    }

    main h1{
        text-align: center;
    }

    main p{
        padding: 5px 0;
    }

    article p{
        padding: 5px 0;
    }

    h2{
        font-weight: bold;
    }

    .lista-diferenciais ul li{
        padding: 2px 0;
    }

    #centro-distribuicao{
        width: 255px;
    }
    .pelho figure{
        padding: 10px 0 0 0;
        
    }
    #familia-pelho{
        width: 290px;
        margin: 0;
        border: 0;
    }

    .principal img{
        width: 255px;
    }

    .pelho img{
        width: 270px;
    }
    .pelho figcaption{
        padding: 10px 0;
    }

    footer{
        width:320px;
    }
    .video-central iframe{
        width: 290px;
        height: 250px;
    }

    .mapas-central iframe{
        width: 290px;
        height: 250px;
    }
}

/* Resolução de 375px */
@media(min-width: 375px){
    .container{
        width: 320px;
        padding: 5px 0px 5px 0px;
        margin: 0 auto;
    }

    header{
        text-align: center;
    }

    main h1{
        text-align: center;
    }

    main p{
        padding: 5px 0;
    }

    article p{
        padding: 5px 0;
    }

    h2{
        font-weight: bold;
    }

    .lista-diferenciais ul li{
        padding: 2px 0;
    }

    #centro-distribuicao{
        width: 280px;
    }
    .pelho figure{
        padding: 10px 0 0 0;
        
    }
    #familia-pelho{
        width: 320px;
        margin: 0;
        border: 0;
    }

    .principal img{
        width: 280px;
    }

    .pelho img{
        width: 290px;
    }
    .pelho figcaption{
        padding: 0 0 10px 0;
    }
    .video-central iframe{
        width: 320px;
        height: 250px;
    }

    .mapas-central iframe{
        width: 320px;
        height: 250px;
    }

    footer{
        width:375px;
    }
}

/* Resolução de 414px */
@media (min-width: 414px) {
    .container{
        width: 380px;
        padding: 5px 0px 5px 0px;
        margin: 0 auto;
    }
    header{
        text-align: center;
    }

    main h1{
        text-align: center;
    }

    main p{
        padding: 5px 0;
    }

    article p{
        padding: 5px 0;
    }

    h2{
        font-weight: bold;
    }

    .lista-diferenciais ul li{
        padding: 2px 0;
    }

    #centro-distribuicao{
        width: 340px;
    }

    .pelho figure{
        padding: 10px 0 0 0;
        
    }

    #familia-pelho{
        width: 380px;
        margin: 0;
        border: 0;
    }

    .principal img{
        width: 340px;
    }

    .pelho img{
        width: 350px;
    }

    .pelho figcaption{
        padding: 0 0 10px 0;
    }
    .video-central iframe{
        width: 380px;
        height: 250px;
    }

    .mapas-central iframe{
        width: 380px;
        height: 250px;
    }
    footer{
        width:414px;
    }
}

/* Resolução de 768px */
@media(min-width: 768px){
    .container{
        width: 720px;
        padding: 5px 0px 5px 0px;
        margin: 0 auto;
    }

    header{
        text-align: center;
    }

    main h1{
        text-align: center;
    }

    main p{
        padding: 5px 0;
    }

    article p{
        padding: 5px 0;
    }

    h2{
        font-weight: bold;
    }

    .lista-diferenciais ul li{
        padding: 2px 0;
    }

    #centro-distribuicao{
        width: 650px;
    }

    .pelho figure{
        padding: 10px 0 0 0;
        
    }

    #familia-pelho{
        width: 350px;
        margin: 0;
        border: 0;
    }

    .principal img{
        width: 640px;
    }

    .pelho img{
        width: 330px;
    }

    .pelho figcaption{
        padding: 0 0 10px 0;
    }

    .video-central iframe{
        width: 720px;
        height: 250px;
    }

    .mapas-central iframe{
        width: 720px;
        height: 250px;
    }   

    footer{
        width:768px;
    }
}

/* Resolução de 1024px */
@media(min-width:1024px){
    .container{
        width: 980px;
        padding: 5px 0px 5px 0px;
        margin: 0 auto;
    }

    header{
        text-align: center;
    }

    main h1{
        text-align: center;
    }

    main p{
        padding: 5px 0;
    }

    article p{
        padding: 5px 0;
    }

    h2{
        font-weight: bold;
    }

    .lista-diferenciais ul li{
        padding: 2px 0;
    }

    #centro-distribuicao{
        width: 920px;
    }
    
    .pelho figure{
        padding: 10px 0 0 0;
        
    }

    #familia-pelho{
        width: 430px;
        margin: 0;
        border: 0;
    }

    .principal img{
        width: 890px;
    }

    .pelho img{
        width: 400px;
    }

    .pelho figcaption{
        padding: 0 0 10px 0;
    }
    .video-central iframe{
        width: 940px;
        height: 250px;
    }

    .mapas-central iframe{
        width: 980px;
        height: 250px;
    }
    footer{
        width:1024px;
    }
}



